// footer menu svg icon
.svg-icon{
  &.orange{
    color: @orange;
  }
}
// postcss-aspect-ratio-mini
[aspectratio] {
  position: relative;
}
[aspectratio]::before {
  content: '';
  display: block;
  width: 1px;
  margin-left: -1px;
  height: 0;
}
[aspectratio-content] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
// page enter or leave animate
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s .5s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}